# Editors
.idea/*
*.iml
*.iws
*.ipr
*.ids
*.orig

**/sponge_log.log

testing/kokoro/test-env.sh

# Vagrant
.vagrant/

# General files for the project
pkg/*
*.pyc
bin/*
.project
/.bin
/_test/secrets/*.json

# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store
